<footer class="footer">
  <div class="container text-center">
    <a class="cc-twitter btn btn-link " href="https://twitter.com/yovannysoy" target="_blank">
      <i class="fa fa-twitter fa-2x " aria-hidden="true"></i>
    </a>
    <a class="cc-linkedin btn btn-link" href="https://www.linkedin.com/in/yovanny-lopez-010016ab/" target="_blank">
      <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
    </a>
    <a class="cc-github btn btn-link" href="http://github.com/yovannylopez" target="_blank">
      <i class="fa fa-github fa-2x" aria-hidden="true"></i>
    </a>
    <a class="cc-facebook btn btn-link" href="https://www.facebook.com/hylopezc" target="_blank">
      <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
    </a>
    <a class="cc-youtube btn btn-link" href="https://www.youtube.com/channel/UCM2h_EMgfpVma7p1T1NU8Rg/playlists?view_as=subscriber" target="_blank">
      <i class="fa fa-youtube fa-2x " aria-hidden="true"></i>
    </a>

  </div>
  <div class="text-center text-muted">
    <p>&copy; Derechos reservados.
    </p>
  </div>
</footer>