<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Experiencia laboral</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Junio de 2006 - Actualidad</p>
            <div class="h5">Freelance</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Frontend Developer - Backend Developer</div>
            <p class="category">Desarrollos del lado del cliente y del lado del servidor, tanto para aplicaciones monolito como aplicaciones con
            arquitectura REST y/o microservicios, con tecnologías como NodeJS, PHP, Java SE, Javascript, JQuery, Angular, React,
            NodeJS, GraphQL, HTML, CSS, Actionscript,MySQL, MongoDB.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Febrero de 2012 - Diciembre de 2016</p>
            <div class="h5">Brújulaweb</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Frontend Developer - Backend Developer</div>
            <p class="category">Desarrollos del lado del cliente y del lado del servidor, tanto para aplicaciones monolito como aplicaciones con
            arquitectura REST y/o microservicios, con tecnologías como NodeJS, PHP, Java SE, Javascript, JQuery, Angular, React,
            NodeJS, GraphQL, HTML, CSS, Actionscript,MySQL, MongoDB.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Septiembre de 2018 - Noviembre de 2018 / Febrero de 2019 - Mayo de 2019</p>
            <div class="h5">Institución Universitaria EAM</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Docente catedrático</div>
            <p class="category">Docente de las electivas de Angular y NodeJS del Programa de Ingeniería de Software.</p>
          </div>
        </div>
      </div>
    </div>
        <div class="card">
          <div class="row">
            <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body cc-experience-header">
                <p>Octubre de 2004 - Marzo de 2019</p>
                <div class="h5">Servicio Nacional de Aprendizaje - SENA</div>
              </div>
            </div>
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body">
                <div class="h5">Instructor Medio Tiempo</div>
                <p class="category">Instructor de Algoritmos, PHP, Javascript, HTML, CSS, UML, Bases de datos, en el programa de Técnico en Programación de
                Software y Tecnología en Análisis y Desarrollo de Sistemas de Información.</p>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>