<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Sobre mí</div>
            <p>Hola!, Soy Yovanny López.</p>
            <p>Colombiano, de origen campesino nacido en la Vereda Tambores del municipio de Balboa, Risaralda. Fui agricultor, mesero,
            barrendero, electricista, reparador de neveras y lavadoras; luego fui docente por vocación y ahora soy desarrollador de
            software por pasión y por proyecto de vida. Me gusta el aprendizaje continuo, compartir y recibir conocimiento, trabajar
            en equipo, asumir retos y mucho más...</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Datos básicos</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Edad:</strong>
              </div>
              <div class="col-sm-8">38 años</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">yovannylopez_22@hotmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Celular:</strong>
              </div>
              <div class="col-sm-8">+57 3162696771</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Ciudad:</strong>
              </div>
              <div class="col-sm-8">Armenia, Colombia.
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>