<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Educación</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013</p>
              <div class="h5">Profesional</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Ingeniería de Sistemas</div>
              <p class="category">Universidad Nacional Abierta y a Distancia</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2012</p>
              <div class="h5">Tecnología</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Tecnología en Análisis y Desarrollo de Sistemas de Información.</div>
              <p class="category">Servicio Nacional de Aprendizaje SENA</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013</p>
              <div class="h5">Tecnología</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Especialización Tecnológica en Gestión de Proyectos</div>
              <p class="category">Servicio Nacional de Aprendizaje SENA</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>